<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Learning Management System</title>
    <link rel="stylesheet" href="/css/style.css" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="font-serif">
    <h1 class="text-center font-semibold text-7xl mt-10">
      Learning Management System
    </h1>
    <br />
    <a
      href="/login"
      class="ml-64 mb-9 bg-gray-800 hover:bg-gray-600 text-white px-5 py-2 rounded font-medium"
      >Sign in</a
    >
    <br/>
    <br/>
    <a
      href="/signup"
      class="ml-64 mt-9 bg-gray-800 hover:bg-gray-600 text-white px-5 py-2 rounded font-medium"
      >Sign up</a
    >
  </body>
</html>
